body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(145, 145, 145);
    background-color: #000;
    box-sizing: border-box;
}